body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: rgb(202, 226, 209);
}

a {
  color: #00B7FF;
}
.addList {
  display: inline-block;
  padding: 10px;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 20px;
  width: 45%;
  text-align: left;
  background-color: #050F5D;
  color: white;
}
